body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.card {
    animation: fadeIn 2s ease-in-out;
}

.left-sidebar,
.right-sidebar {
    width: 20%;
    /* Ancho de las barras laterales */
    height: 100vh;
    /* Altura total de la ventana del navegador */
    background-color: #020000;
    /* Color de las barras laterales */
    position: fixed;
    /* Para fijar las barras laterales en su posición */
    top: 0;
}

.left-sidebar {
    left: 0;
}

.right-sidebar {
    right: 0;
}

@media (max-width: 768px) {

    .left-sidebar,
    .right-sidebar {
        width: 5%
    }
}

.content {
    margin-left: 20%;
    /* Ajustar el margen izquierdo para que el contenido no se superponga con la barra lateral izquierda */
    margin-right: 20%;
    /* Ajustar el margen derecho para que el contenido no se superponga con la barra lateral derecha */
    padding: 1rem;
}

@media (max-width: 768px) {
    .content {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/*Hedear y footer*/

header {
    background-image: url('../images/header.jpg');
    /* Imagen de fondo */
    background-size: cover;
    /* Ajuste para que la imagen cubra todo el encabezado */
    background-position: center;
    /* Posiciona la imagen en el centro */
    color: #fff;
    /* Color del texto */
    padding: 80px 20px;
    /* Espaciado interno */
}

footer {
    background-color: #444;
    /* Fondo gris */
    color: white;
    /* Color de letra blanco */
    padding: 20px;
    /* Espaciado interno */
    display: flex;
    /* Activa el uso de flexbox */
    justify-content: space-between;
    /* Distribuye los elementos horizontalmente */
    align-items: center;
    /* Alinea los elementos verticalmente */
}



/* Estilo para el contenedor de comentarios */


.container-comentarios-tarjeta {
    font-size: 30px;

}